.avatar-block {
  max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar-block__avatar {
    padding-top: 16px;
    width: 100%;
    max-width: 390px;
    height: 419px;
    object-fit: cover;
    margin: 0 auto;
}

