.header {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__avatar {
    padding-top: 16px;
    width: 100%;
    max-width: 390px;
    height: 419px;
    object-fit: cover;
    margin: 0 auto;
}



.header__link {
    text-decoration: none;
    color: #282828;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

.header__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 36px;
    justify-content: center;
}
