.portfolio {
  margin: 0 auto;
  max-width: 390px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.portfolio__image {
  width: 171px;
  height: 210px;
  object-fit: cover;
}

.portfolio__images li:last-child {
  position: relative;
  display: block;

}

.portfolio__span {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, .4);
display: flex;
align-items: center;
justify-content: center;
}

.portfolio__span p{
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

.portfolio__images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  padding-bottom: 17px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.portfolio__images.dragging img {
  pointer-events: none;
}

.portfolio__images.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.portfolio__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 133.333% */
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 8px 19px;
}

.portfolio__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 125% */
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 64px 0 24px;
}

.portfolio__span {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  color: #000;
}
